---
title: Wilson Family Project
---
<!doctype html>
<html lang="en" class="bg-white text-black dark:bg-gray-900 dark:text-gray-100">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
  <div class="px-8 py-4">
    <div class="prose dark:prose-invert">
      <h1>Wilson Family Project</h1>
    </div>
    
    {{ content | safe }}
  </div>
</body>
</html>
