---
title: Family Tree
---
<!DOCTYPE html>
<html lang="en" class="bg-white text-black">

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>

  <body>
    <div class="prose p-8 w-full max-w-full">
        {{content | safe}}
    </div>
  </body>

</html>
