@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@mdit/plugin-alert/style';

.prose {
  &
    :where(blockquote p:last-of-type):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::after {
    content: '';
  }
}

.prose {
  &
    :where(blockquote p:first-of-type):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::before {
    content: '';
  }
}

.prosey {
  @apply prose dark:prose-invert w-full max-w-full;
}

pre.mermaid:not([data-processed='true']) {
  display: none;
}

pre.mermaid {
  background-color: transparent;
}

pre.mermaid a,
pre.mermaid a:visited {
  color: #fff;
}
